h4, h5, h6, p, a {
	font-family: 'Karla', sans-serif !important;
}

h1, h2, h3 {
	font-family: 'Bebas Neue', cursive;
	font-weight: 800 !important;
}

a {
	text-decoration: none !important;
}

.MuiTypography-body1 {
	color: #323232;
	font-size: 26px !important;
	font-family: 'Bebas Neue', cursive !important;
	letter-spacing: 0.05rem !important;
	margin-left: 9px !important;
}

.MuiSvgIcon-root {
	color: #323232;
}

#home-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}

#p-blog2 {
  padding-top: 15px;
  margin-bottom: 9px;
  font-family: 'Bebas Neue', cursive !important;
  font-size: 30px;
}

#p-home {
  font-family: 'Bebas Neue', cursive !important;
  font-size: 80px;
  font-weight: 500;
  margin-top: -51px;
  margin-left: 5px;
  background: white;
  margin-left: 35%;
  margin-right: 35%;
}

.img-to-zoom2 {
	transform: scale(2);
	padding-bottom: 45px;
	padding-top: 45px;
}

.hero-image {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;
  
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MuiToolbar-regular {
	padding-right: 0px !important;
}

#home-text {
	color: white;
	text-align: center;
	font-size: 33px;
	padding-top: 30px;
}

#footer-button {
	background-color: black !important;
	letter-spacing: 0.175rem;
}

.MuiButton-contained.Mui-disabled, #footer-button.Mui-disabled {
	background-color: rgba(0, 0, 0, 0.26) !important;
}

#footer-button.makeStyles-buttonSuccess-303, 
#footer-button.makeStyles-buttonSuccess-263, 
#footer-button.makeStyles-buttonSuccess-265,
#footer-button.makeStyles-buttonSuccess-269 {
	background-color: #4caf50 !important;
}

#button-custom {
	margin-top: 18px;
	font-size: 1rem;
	letter-spacing: 0.175rem;
}

#button-custom:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

#button-custom2 {
	margin-bottom: 60px;
	margin-top: 15px;
	font-size: 1rem;
	letter-spacing: 0.175rem;
}

#button-custom3 {
	font-size: 1rem;
	letter-spacing: 0.175rem;
}

#home-nav {
	margin-top: 75vh;
	text-align: center;
	font-family: 'Bebas Neue', cursive !important;
	font-size: 1.5rem;
	font-weight: 600;
	color: white;
	letter-spacing: 0.1rem;
}

.icon {
	margin-top: 32vh;
  display: inline-block !important;
  width: 100% !important;
  text-align: center !important;
  font-size: 30px;
  color: white;
}

.MuiPaper-elevation4 #nav-text {
	color: black;
}

#nav-text {
	font-family: 'Bebas Neue', cursive;
	font-weight: 600 !important;
	font-size: 50px;
	color: white;
	float: right;
	letter-spacing: 0.05rem;
	padding-top: 3px;
}

.nav-logo {
	width: 240px;
	margin-bottom: -9px;
	margin-right: -22px;
	position: relative;
}

#nav-icon {
	margin-left: -36px;
}

@media (max-width: 599px) {
	.nav-logo {
		margin-top: -41px !important;
		margin-right: -15px !important;
	}
	#nav-icon {
		margin-left: -30px !important;
	}
	.mobile-divider {
		margin-top: -8px !important;
	}
	.mobile-grid {
		display: none !important;
	}
}

.navbar-icon {
	float: right !important;
	position: right !important;
}

.MuiAppBar-colorPrimary {
	background-color: transparent !important;
	border-bottom: 0px solid #e1e1e1 !important;
}

.MuiPaper-elevation4 {
	background-color: white !important;
	border-bottom: none !important;
}

.MuiTypography-h6 {
	color: black;
}

.MuiPaper-elevation4  .MuiTypography-h6, .MuiPaper-elevation4 .MuiSvgIcon-root {
	color: black !important;
}

.hero-temp {
	margin-top: -64px;
	width: 100%;
	height: 100vh;
}

.story-image {
	width: 100%;
}

.story-image2 {
	width: 100%;
	border: 1px solid #e9e9e9;
}

.main-story {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
}

.bottle-image {
	width: 100%;
	float: right !important;
	margin-right: -30%;
}

.footer-menu {
	color: #818181;
}

.footer-menu:hover {
	color: black;
}

#storerocket-powered {
	display: none;
}

#bring-front {
	z-index: 1 !important;
	position: absolute;
}

.map {
	margin-top: 90px !important;
	margin-bottom: 100px !important;

}

#storerocket-panel, #storerocket-map-container {
	border-radius: 0px !important;
}

.storerocket-result-list {
	height: 401px !important;
}

.storerocket-overlay-close-button {
	margin-right: 14px;
}

#footer-icon {
	margin-right: 9px !important;
	font-size: 20px;
}

.MuiOutlinedInput-root {
	border-radius: 0px !important;
}










